
net "clk" loc = "p76";
net "rst" loc = "p108";
net "Return[0]" loc = "p139";
net "Return[1]" loc = "p140";
net "Return[2]" loc = "p137";
net "Return[3]" loc = "p138";
net "Return[4]" loc = "p133";
net "Return[5]" loc = "p135";
net "Return[6]" loc = "p131";
net "Return[7]" loc = "p132";
net "Return[8]" loc = "p149";
net "Return[9]" loc = "p150";
net "Return[10]" loc = "p147";
net "Return[11]" loc = "p148";
net "Return[12]" loc = "p144";
net "Return[13]" loc = "p146";
net "Return[14]" loc = "p141";
net "Return[15]" loc = "p143";
net "Return[16]" loc = "p181";
net "Return[17]" loc = "p176";
net "Return[18]" loc = "p172";
net "Return[19]" loc = "p175";
net "Return[20]" loc = "p169";
net "Return[21]" loc = "p168";
net "Return[22]" loc = "p167";
net "Return[23]" loc = "p171";
net "Return[24]" loc = "p165";
net "Return[25]" loc = "p166";
net "Return[26]" loc = "p161";
net "Return[27]" loc = "p162";
net "Return[28]" loc = "p155";
net "Return[29]" loc = "p156";
net "Return[30]" loc = "p152";
net "Return[31]" loc = "p154"